.btn-success {
  background-color: #0f0346;
  border-color: #0f0346;
  width: 150px;
  font-family: "Oswald";
  font-size: 20px;
  font-size-adjust: auto;
}
.header {
  text-align: center;
  background-color: rgba(4, 113, 152, 0.69);
  font-family: "Oswald";
  margin-bottom: 0px;
}
h1 {
  color: white;
  font-size: 75px;
}
.line {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #e0e0e0;
  height: 10px;
}
